/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #009970;
  text-decoration: none;
}

a:hover {
  color: #00cc95;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #f5f5f5;
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #009970;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #00c28e;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #be50f4 !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 2em !important;
  width: 8.5em !important;
}

.navbar-nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #c95bf5;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("../src/Assets/amma_photo.jpeg") center center;
  background-size: cover;
  position: relative;
}

#hero .container {
  padding-top: 80px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #009970;
  border: 2px solid #009970;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero .container {
    padding-top: 60px;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f6f7;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #009970;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
.counts {
  background: #009970;
  padding: 40px 0 20px 0;
  color: #fff;
}

.counts .counters span {
  font-size: 36px;
  display: block;
  font-weight: 700;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/*--------------------------------------------------------------
  # Why Us
  --------------------------------------------------------------*/
.why-ssr .why-ssr-content {
  padding: 30px;
  background: #009970;
  border-radius: 4px;
  color: #fff;
}

.why-ssr .why-ssr-content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-ssr .why-ssr-content p {
  margin-bottom: 30px;
}

.why-ssr .why-ssr-content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-ssr .why-ssr-content .more-btn i {
  font-size: 14px;
}

.why-ssr .why-ssr-content .more-btn:hover {
  color: #009970;
  background: #fff;
}

.why-ssr .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
  transition: 0.3s;
}

.why-ssr .icon-boxes .icon-box i {
  font-size: 40px;
  color: #009970;
  margin-bottom: 30px;
}

.why-ssr .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.why-ssr .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

.why-ssr .icon-boxes .icon-box:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-section .about-content {
  display: flex;
  align-items: center;
}

.about-section .about-content h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-section .about-content h3 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
}

.about-section .about-content ul {
  list-style: none;
  padding: 0;
}

.about-section .about-content ul li {
  padding: 10px 0 0 28px;
  position: relative;
}

.about-section .about-content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #009970;
}

.about-section .about-content p:last-child {
  margin-bottom: 0;
}

.about-heading {
  text-align: left;
  text-decoration: underline;
  text-decoration-color: #009970;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.about-description {
  text-align: left;
  font-size: 15px;
  font-weight: normal!important;
}
/*--------------------------------------------------------------
  # Cta
  --------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),
    url("../src/Assets/banner_img.jpeg") fixed center center;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #009970;
  border: 2px solid #009970;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: #f5f5f5;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
  position: sticky;
  bottom: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: #242424 !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}
/* --------- */
/* Projects */
/* --------- */

.loading_screen {
  width: 99vw;
  height: 100vh;
  position: relative;
  background-color: #f5f5f5;
}

.loader {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}

.project-heading {
  color: #242424 !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

.project-card {
  background-color: white;
  color: #272727;
  padding: 20px;
  border-radius: 10px;
  border: 0px;
  border-color: #a588c0;
  border-style: solid;
  transition: 200ms;
  max-width: 380px;
  min-height: 500px;
  position: relative;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.likes-count {
  font-weight: normal;
  font-size: 1.2em;
  padding-left: 5px;
}

.project-card:hover {
  border-style: solid;
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px #a588c0 !important;
}

.project-card-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.project-card-title-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.project-card-category {
  font-size: 0.8em;
  color: #a588c0;
  margin-bottom: 0.5em;
}

.project-card-title {
  flex: 0.5;
  font-size: large;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
}
.project-card-date {
  flex: 0.3;
  font-size: medium;
  margin-top: 0;
}

.project-card-image {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 210px;
  object-fit: cover;
}
.project-card-like-icon {
  height: 25px;
}

.project-card-text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: medium;
  text-align: flex-start;
}

.project-card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.project-card-footer-bar {
  display: flex !important;
  align-items: center !important;
  margin-top: 20px;
  justify-content: space-between !important;
}

/* filters */
.project-filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 20px;
}

.projects-filter-dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
}

.projects-filter-heading {
  font-size: 1.2em;
  font-weight: 500;
  color: #242424;
  margin-bottom: 0.5em;
}

.projects-filter-dropdown-text {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
  margin-right: 10px;
  color: #242424;
}

.projects-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.projects-pagination-button {
  background-color: transparent;
  border: 1px solid #a588c0;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  color: #242424;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
}

.projects-pagination-button:hover {
  background-color: #a588c0;
  color: white;
}

.number_indicator {
  border-radius: 5px !important;
  width: 100px;
}

.pagination_icon {
  color: white !important;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.select {
  width: 100%;
  min-width: 150px;
  max-width: 170px;
  border: 1px solid #cd5ff8;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #cd5ff8;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

select,
.select:after {
  grid-area: select;
}

select::-ms-expand {
  display: none;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

.like-item {
  padding-top: 10px !important;
  font-size: 1.1em !important;
  font-family: sans-serif !important;
}

.like-btn {
  background-color: #934cce5e !important;
  border-color: #934cce5e !important;
  padding: 0.25rem 0.98rem !important;
  border-radius: 5px !important;
  line-height: 1.4 !important;
  transition: 0.3s ease !important;
}

.like-btn:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
}

.animate-like {
  animation-name: likeAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.85s;
}
@keyframes likeAnimation {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: #934cce5e !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
}
.fork-btn-inner::after {
  display: none !important;
}

/* Contributors */
.contributors-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.contributor-card {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}

.contributors-type {
  width: 100% !important;
  margin-bottom: 30px;
  color: #242424;
}

.contributor-type-heading {
  font-size: 30px;
  font-weight: 500;
  color: white;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contributors-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member {
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 280px !important;
  background-color: white;
  margin: 10px !important;
  min-width: 240px !important;
}

.member .pic {
  overflow: hidden;
  width: 150px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.member .pic img {
  transition: ease-in-out 0.3s;
}
.member:hover img {
  transform: scale(1.1);
}

.member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #36343a;
}

.member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
  color: #0c0513;
}

.member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b5b3ba;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #a8a5ae;
}

.member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}

.member .social a:hover {
  background: #009970;
}

.member .social a + a {
  margin-left: 8px;
}

/* Testimonials */

.testimonials-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}

.testimonial-heading {
  margin-bottom: 20px;
}

.testimonials {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.testimonial-section {
  max-width: 800px;
  margin: 15px auto 0px auto;
}

.testimonial-data {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 250px;
  box-shadow: 2px 2px 25px #cecece;
  border-radius: 10px;
}

.testimonial-data .testimonial-pattern {
  flex-basis: 80px;
  background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/hexabump.png")
    repeat;
  border-radius: 10px 0 0 10px;
}

.testimonial-data .testimonial-content {
  flex-basis: calc(100% - 80px);
  background: #ffffff;
  padding: 40px 30px 50px 80px;
  font-size: 11pt;
  line-height: 1.62em;
  border-radius: 0 10px 10px 0;
}

.testimonial-data .testimonial-qmark {
  position: absolute;
  top: 10px;
  left: 105px;
  /* font-family: Garamond, Georgia, "Times New Roman", serif; */
  font-size: 42pt;
  color: #999999;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.testimonial-text {
  font-size: medium;
  font-weight: 500;
  color: #242424;
}

.testimonial-data .testimonial-userpic {
  position: absolute;
  top: 80px;
  left: 45px;
  width: 70px;
  height: 70px;
  background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/strug.jpg")
    center center no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.testimonial-data .testimonial-meta {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 2px dotted #777777;
}

.testimonial-data .testimonial-meta .testimonial-author,
.testimonial-data .testimonial-meta .testimonial-source {
  color: #777777;
}

.testimonial-data .testimonial-meta .testimonial-author {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 10pt;
  font-weight: bold;
}

.testimonial-data .testimonial-meta .testimonial-author cite {
  font-style: normal;
}

.testimonial-data .testimonial-meta .testimonial-source {
  font-size: 9pt;
}

@media screen and (max-width: 768px) {
  .testimonial-data .testimonial-pattern {
    flex-basis: 20px;
  }

  .testimonial-data .testimonial-content {
    flex-basis: calc(100% - 20px);
    padding: 100px 30px 50px 30px;
  }

  .testimonial-data .testimonial-userpic {
    width: 50px;
    height: 50px;
    left: 40px;
    top: 20px;
  }

  .testimonial-data .testimonial-qmark {
    left: 100px;
    top: 45px;
  }
}

/* Project Details Page */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
.scroll-indicator {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: #0061a0;
  z-index: 2;
  width: 0%;
  transition: all 0.3s linear;
}

.content {
  dispay: grid;
  width: 60%;
  margin: 30px auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8em;
}
.content .poster {
  width: 100%;
  height: 500px;
  display: grid;
  border-radius: 10px;
  margin-top: 100px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 100px -3px #000597 33;
}

.content .poster .background-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content .poster .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

.content .poster .poster-title {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 40%;
}
.content .poster .poster-title h1 {
  font-size: 40px;
  color: white;
  font-weight: 300;
  margin: 20px 0;
}
.content .poster .poster-title .line {
  background-color: #b4c4c5;
  width: 100%;
  height: 1px;
}
.content .poster .poster-title p {
  color: #b4c4c5;
  font-size: 12px;
  line-height: 1.8em;
}
.content .poster .poster-buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  text-align: center;
}
.content .poster .poster-buttons div {
  cursor: pointer;
}
.content .poster .poster-buttons div:hover {
  color: #ccc;
}
.footer {
  width: 100%;
  min-height: 150px;
  margin-top: 100px;
  padding: 100px 0;
  background: linear-gradient(0deg, #fff 0%, #efefef 100%);
}
.footer .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  font-size: 14px;
  color: #777;
}
.info {
  border-radius: 10px;
  border: 1px solid #e9e9f6;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px auto;
  background-color: #fdfdfd;
  overflow: hidden;
  height: 100px;
}
.info .block {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  color: #242e47;
}
.info .block .mini-title {
  font-size: 12px;
  color: #999;
  font-weight: 700;
}
.project-details-sub-heading{
  font-size: 20px;
  font-weight: 700;
  color: #242e47;
  margin: 40px 0;
}

/* team members table */
.team-members-table {
  width: auto;
  border-collapse: collapse;
}

.team-members-table th {
  background-color: #f5f5f5;
  color: #242e47;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  text-align: left;
}

.team-members-table td {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 300;
  color: #777;
}

.team-members-table tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.team-members-table tr:hover {
  background-color: #f5f5f5;
}


.words {
  text-align: left;
  padding: 0 0 0 0;
  position: relative;
}
.words p {
  margin: 20px auto;
  position: relative;
  color: #777;
}
.words p .buttons {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 100px;
  background-color: #777;
}
.words p .letter {
  font-size: 100px;
  position: absolute;
  top: 15px;
  left: -45px;
  color: #878787 0f;
  font-weight: 700;
}
.words .buttons {
  position: absolute;
  opacity: 0;
  top: 0px;
  right: -30px;
  font-size: 20px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.words:hover .buttons {
  opacity: 1;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 40px auto;
}

.image-gallery .image img{
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

@media (max-width: 700px) {
  .content {
    width: 90%;
  }
  .info {
    grid-template-columns: repeat(2, 1fr);
    height: 200px;
  }
  .content .poster {
    height: 250px;
  }
  .content .poster .poster-title h1 {
    font-size: 25px;
  }
  .content .poster .poster-title p,
  .content .poster .poster-title .line {
    display: none;
  }
  .image-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
